.block-slider {
    display: flex;
    max-width: 1024px;
    height: 768px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

.points-area-size {
    display: flex;
    width: 150px;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
}

.point {
    width: 15px;
    height: 15px;
    background: rgb(249, 249, 249);
    border-radius: 100px;
    cursor: pointer;
}

.point:hover {
    background: rgb(144, 144, 144);
}

.image-area {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-slider {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.active-image {
    display: flex;
    background: rgb(144, 144, 144);
    border-radius: 10px;
}