.container {
   display: flex;
   flex-direction: column;
   max-width: 608px;
   max-height: 608px;
   margin: 0 auto;
   z-index: -1;
}

canvas {
   margin-bottom: -386px;
   z-index: 0;
}

.message-none {
   display: none;
}

.message {
   border: 32px solid red;
   padding: 10px;
   margin: 32px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   font-size: 25px;
   z-index: 1;
}